<a href="https://colab.research.google.com/github/FaizanHameed1/Telco-Customer-Churn-Prediction-using-Logistic-Regression/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [87]:
#changing the working directory
%cd /content/gdrive/My Drive/Datasets

/content/gdrive/My Drive/Datasets

In [88]:
#check the content in our directory
!ls

finalized_model.sav	     WISDM_ar_v1.1_raw.txt
readme.txt		     WISDM_ar_v1.1_trans_about.txt
Telco-Customer-Churn.csv     WISDM_ar_v1.1_transformed.arff
WISDM_ar_v1.1_raw_about.txt

In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [90]:
df = pd.read_csv('Telco-Customer-Churn.csv')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [91]:
#checking the shape of dataframe
df.shape

(7043, 21)

In [92]:
#checking the columns 
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [93]:
#Dropping some columns that are not important
df.drop(columns=['customerID'],axis=1,inplace=True)
df.head(3)

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95        1889.5    No
2    Male              0      No  ...          53.85        108.15   Yes

[3 rows x 20 columns]

In [94]:
# We want to replace missing values i.e "?" with "NaN"
df.replace("?", np.nan, inplace = True)
df.head(5)

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95        1889.5    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [95]:
#checking the missing values in every column
missing_values = df.isnull()
for column in missing_values.columns.values.tolist():
    print(column)
    print (missing_values[column].value_counts())

gender
False    7043
Name: gender, dtype: int64
SeniorCitizen
False    7043
Name: SeniorCitizen, dtype: int64
Partner
False    7043
Name: Partner, dtype: int64
Dependents
False    7043
Name: Dependents, dtype: int64
tenure
False    7043
Name: tenure, dtype: int64
PhoneService
False    7043
Name: PhoneService, dtype: int64
MultipleLines
False    7043
Name: MultipleLines, dtype: int64
InternetService
False    7043
Name: InternetService, dtype: int64
OnlineSecurity
False    7043
Name: OnlineSecurity, dtype: int64
OnlineBackup
False    7043
Name: OnlineBackup, dtype: int64
DeviceProtection
False    7043
Name: DeviceProtection, dtype: int64
TechSupport
False    7043
Name: TechSupport, dtype: int64
StreamingTV
False    7043
Name: StreamingTV, dtype: int64
StreamingMovies
False    7043
Name: StreamingMovies, dtype: int64
Contract
False    7043
Name: Contract, dtype: int64
PaperlessBilling
False    7043
Name: PaperlessBilling, dtype: int64
PaymentMethod
False    7043
Name: PaymentMethod, dtype: int64
MonthlyCharges
False    7043
Name: MonthlyCharges, dtype: int64
TotalCharges
False    7043
Name: TotalCharges, dtype: int64
Churn
False    7043
Name: Churn, dtype: int64

In [96]:
df.info

<bound method DataFrame.info of       gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0     Female              0     Yes  ...          29.85         29.85    No
1       Male              0      No  ...          56.95        1889.5    No
2       Male              0      No  ...          53.85        108.15   Yes
3       Male              0      No  ...          42.30       1840.75    No
4     Female              0      No  ...          70.70        151.65   Yes
...      ...            ...     ...  ...            ...           ...   ...
7038    Male              0     Yes  ...          84.80        1990.5    No
7039  Female              0     Yes  ...         103.20        7362.9    No
7040  Female              0     Yes  ...          29.60        346.45    No
7041    Male              1     Yes  ...          74.40         306.6   Yes
7042    Male              0      No  ...         105.65        6844.5    No

[7043 rows x 20 columns]>

In [97]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [98]:
for column in df.columns:
     print(df[column].dtype==('object'))

True
False
True
True
False
True
True
True
True
True
True
True
True
True
True
True
True
False
True
True

In [99]:
#To proceed further it is important to change the data type from oobject to float. We are doing 'label encoding' for this purpose.
for column in df.columns:
  if df[column].dtype==('object'):
    from sklearn.preprocessing import LabelEncoder
    encoder = LabelEncoder()
    df[column] = encoder.fit_transform(df[column])
  else:
    continue
#Changing the datatype of all column to 'float64'

for column in df.columns:
  if df[column].dtype== 'int64':
    df[column]=df[column].astype(float)
df.dtypes

gender              float64
SeniorCitizen       float64
Partner             float64
Dependents          float64
tenure              float64
PhoneService        float64
MultipleLines       float64
InternetService     float64
OnlineSecurity      float64
OnlineBackup        float64
DeviceProtection    float64
TechSupport         float64
StreamingTV         float64
StreamingMovies     float64
Contract            float64
PaperlessBilling    float64
PaymentMethod       float64
MonthlyCharges      float64
TotalCharges        float64
Churn               float64
dtype: object

In [100]:
#changing all datatypes to "float64"

In [101]:
df.describe()

            gender  SeniorCitizen  ...  TotalCharges        Churn
count  7043.000000    7043.000000  ...   7043.000000  7043.000000
mean      0.504756       0.162147  ...   3257.794122     0.265370
std       0.500013       0.368612  ...   1888.693496     0.441561
min       0.000000       0.000000  ...      0.000000     0.000000
25%       0.000000       0.000000  ...   1609.000000     0.000000
50%       1.000000       0.000000  ...   3249.000000     0.000000
75%       1.000000       0.000000  ...   4901.500000     1.000000
max       1.000000       1.000000  ...   6530.000000     1.000000

[8 rows x 20 columns]

In [102]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [103]:
df['Churn'].value_counts()

0.0    5174
1.0    1869
Name: Churn, dtype: int64

In [104]:
#checking the number of unique classis in dataframe
df['Churn'].unique()

array([0., 1.])

There are two classis so we can use binery classification method for prediction.

In [105]:
#Splitting the features and target
features = df.drop(columns=['Churn'],axis = 1)
target= df['Churn']
features,target

(      gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges
 0        0.0            0.0  ...           29.85        2505.0
 1        1.0            0.0  ...           56.95        1466.0
 2        1.0            0.0  ...           53.85         157.0
 3        1.0            0.0  ...           42.30        1400.0
 4        0.0            0.0  ...           70.70         925.0
 ...      ...            ...  ...             ...           ...
 7038     1.0            0.0  ...           84.80        1597.0
 7039     0.0            0.0  ...          103.20        5698.0
 7040     0.0            0.0  ...           29.60        2994.0
 7041     1.0            1.0  ...           74.40        2660.0
 7042     1.0            0.0  ...          105.65        5407.0

 [7043 rows x 19 columns], 0       0.0
 1       0.0
 2       1.0
 3       0.0
 4       1.0
        ...
 7038    0.0
 7039    0.0
 7040    0.0
 7041    1.0
 7042    0.0
 Name: Churn, Length: 7043, dtype: float64)

In [106]:
#splitting the dataframe into "train" and "test" datasets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.2,random_state=1)

In [107]:
#Scaling the Data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scl=scaler.fit_transform(x_train)
x_test_scl=scaler.fit_transform(x_test)

In [108]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train_scl,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [109]:
#predicting
pred=model.predict(x_test_scl)

In [116]:
print('Real Values= ',y_test[45:50],'Predicted Values=  ',pred[45:50])

Real Values=  231     0.0
3712    0.0
2168    1.0
2445    0.0
4678    1.0
Name: Churn, dtype: float64 Predicted Values=   [0. 0. 1. 0. 1.]

In [110]:
#Training set score
print(model.score(x_train_scl , y_train))

0.8033368832090877

In [111]:
#Test set score
print(model.score(x_test_scl , y_test))

0.8069552874378992